name: test-docker
on:
  workflow_dispatch:
jobs:
  docker-job:
    runs-on: ubuntu-latest
    container:
      image: quay.io/pypa/manylinux2014_x86_64
    steps:
      - name: test python
        run: |
          /opt/python/cp39-cp39/bin/python -c "print('hello world!')"

      - uses: actions/checkout@v2

      - name: Install poetry
        run: /opt/python/cp39-cp39/bin/python -m pip install poetry==1.1.11

      - name: Configure poetry
        run: /opt/python/cp39-cp39/bin/poetry config virtualenvs.in-project true
